body {
	font-family: sans-serif;
	font-size: 14px;
}

.form {
	max-width: 250px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 50px auto;
}
.form-group-title {
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
.message {
	display: block;
	resize: vertical;
	min-width: 180px;
	min-height: 30px;
	max-height: 150px;
	margin-bottom: 10px;
}

.form-group {
	border: none;
	padding: 0;
}

.input-field {
	display: block;
	margin: 3px 0;
	min-width: 180px;
	padding: 1px;
}

.approval {
	display: inline-block;
	margin-bottom: 15px;
	cursor: url(./icon/left-click.png) 2 2, auto;
}

.button {
	display: block;
	cursor: url(./icon/left-click.png) 2 2, auto;
}
