.search {
	padding-top: 36px;
}

.search__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search__wrapper-search {
	position: relative;
	padding: 14px 0 18px 0;
	border: none;
}

.search__input {
	padding-inline: 62px;
	border: 1px solid #c5c5c5;
	border-radius: 100px;
	background-color: var(--bg-secondary-color);
}

@media (width > 769px) {
	.search__input {
		width: 650px;
		height: 60px;
	}
}

@media (width <= 768px) {
	.search__input {
		width: 550px;
		height: 60px;
	}
}

@media (width <= 576px) {
	.search__input {
		width: 350px;
		height: 60px;
	}
}

.search__input::placeholder {
	color: var(--main-color);
}

.search__icon {
	position: absolute;
	top: 29px;
	left: 17px;
}

.search__wrapper-buttons {
	display: flex;
	max-width: 660px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 7px;
}

.search__button {
	padding: 12px 22px;
	border: 1px solid #c5c5c5;
	border-radius: 200px;
}
