body {
	font-family: Arial;
}
table {
	margin: 50px 0 0 800px;
	border-spacing: 0;
	border-collapse: collapse;
}

caption {
	font-weight: bold;
	font-size: 22px;
	border: 1px solid #000;
	border-bottom: none;
}

table,
th,
tr,
td {
	border: 1px solid #000;
	padding: 5px;
}

.red {
	color: #cf0101;
}
